{% extends "layout.html" %}

{% block body %}
 <div class="row">
		<div class="large-12 columns">
			<form id="review-form" action="/send" method="POST">
				<fieldset>
					<legend>Message</legend>
					<div class="row">
						<div class="large-1 columns">
							<label class="right inline">Name</label>
						</div>
						<div class="large-11 columns">
							<p>{{from_name}} &lt;{{from_email}}&gt;</p>
							<input name="from_name" type="hidden" value="{{ from_name }}">
							<input name="from_email" type="hidden" value="{{ from_email }}">
						</div>
					</div>

					<div class="row">
						<div class="large-1 columns">
							<label class="right inline">Subject</label>
						</div>
						<div class="large-11 columns">
							<p>{{subject}}</p>
							<input name="subject" type="hidden" value="{{subject}}">
						</div>
					</div>
					<div class="row">
						<div class="large-1 columns">
							<label class="right inline">Message</label>
						</div>
						<div class="large-11 columns">
							<pre>{{message}}</pre>
							<input type="hidden" value="{{message}}" name="message" id="message-textarea">
						</div>
					</div>
				</fieldset>

				<div class="row">
					<div class="large-2 columns">
						<input id="edit-button" class="button success" name="edit" type="submit" value="Edit">
					</div>
					<div class="large-2 columns last">
						<input class="button right" name="confirm" type="submit" value="Confirm and Send">
					</div>
				</div>

			</form>

		</div>
	</div>
{% endblock %}

{% block js_footer %}
	<script>
	$(document).ready(function() {
		// swap action to /edit on click
		$('#edit-button').on('click', function() {
			$('#review-form')
				.attr('action', '/edit')
				.submit();

			return false;
		});
	});
	</script>
{% endblock %}